<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaour.spring.boot.mapper.AnswerMapper">
    <resultMap id="BaseResult" type="com.xiaour.spring.boot.entity.Answer">

    </resultMap>


    <insert id="insertAnswer" parameterType="com.xiaour.spring.boot.entity.Answer">
        insert into answer (exam_id, user_id, question_id, answer, score) value (#{examId}, #{userId}, #{questionId}, #{answer}, #{score})
    </insert>

    <select id="getAnswer" resultMap="BaseResult">
        select * from answer where exam_id = #{exam} and user_id = #{user}
    </select>

    <update id="updateAnswer" parameterType="com.xiaour.spring.boot.entity.Answer">
        update answer set exam_id = #{examId}, user_id = #{userId}, question_id = #{questionId}, answer = #{answer}, score = #{score} where id = #{id};
    </update>

</mapper>