<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaour.spring.boot.mapper.CacheMapper">
    <resultMap id="BaseResult" type="com.xiaour.spring.boot.entity.Cache">

    </resultMap>


    <insert id="insertCache" parameterType="com.xiaour.spring.boot.entity.Cache">
        insert into cache (exam_id, user_id, answer) value (#{examId}, #{userId}, #{answer})
    </insert>

    <select id="getCache" resultMap="BaseResult">
        select * from cache where exam_id = #{exam} and user_id = #{user}
    </select>

    <delete id="delCache" parameterType="int">
        delete from cache where exam_id = #{exam} and user_id = #{user}
    </delete>

</mapper>