<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaour.spring.boot.mapper.UserInfoMapper" >
<!--    <resultMap id="BaseResult" type="com.xiaour.spring.boot.entity.Paper" >-->
<!--        <id column="id" property="id" jdbcType="INTEGER" />-->
<!--        <result column="question" property="question" jdbcType="VARCHAR" />-->
<!--        <result column="age" property="age" jdbcType="VARCHAR" />-->

<!--    </resultMap>-->



    <select id="paperList" resultMap="com.xiaour.spring.boot.entity.Paper" >
    select * from question
  </select>

    <select id="getPaperByType" resultMap="com.xiaour.spring.boot.entity.Paper" parameterType="String" >
        select * from question where type = #{type}
    </select>

    <select id="getPaperByModel" resultMap="com.xiaour.spring.boot.entity.Paper" parameterType="String" >
        select * from question where type = #{model}
    </select>



</mapper>