<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaour.spring.boot.mapper.PaperMapper" >
    <resultMap id="BaseResult" type="com.xiaour.spring.boot.entity.Paper" >

    </resultMap>

    <insert id="addPaper" useGeneratedKeys="true" keyProperty="paperId" parameterType="com.xiaour.spring.boot.entity.Paper">
        insert into paper (model_id, name) VALUE (#{modelId}, #{name})
    </insert>

    <select id="queryPaperByExam" resultMap="BaseResult" parameterType="int">
        select * from paper where model_id = #{model}
    </select>

    <delete id="delPaper" parameterType="int">
        delete from paper where paper_id = #{id}
    </delete>

    <update id="updatePaper" parameterType="com.xiaour.spring.boot.entity.Paper">
        update paper set model_id = #{modelId}, name = #{name} where paper_id = #{paperId}
    </update>

    <select id="queryAllPaper" resultMap="BaseResult">
        select * from paper
    </select>

    <select id="queryPaperById" parameterType="int" resultType="com.xiaour.spring.boot.entity.Paper">
        select * from paper where paper_id = #{id}
    </select>

</mapper>